<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/update-feed/<%= feed._id %>" method="post">
        <input type="text" name="name" value="<%=feed.name%>">
        <textarea name="massage"><%= feed.massage  %></textarea>
        <button>Edit</button>
    </form>
        <form action="/delete-feed/<%= feed._id %>" method="post">
            <button>Delete</button>
        </form>
</body>
</html>









