<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new</title>
</head>
<body>
    <form action="/feed" method="post">
        <button>Add a post</button>
        <br>
        <br>
    <br>
        <input id="input" type="text" name="name"  placeholder="write a Name">
       
    <br>
    <br>
        <textarea name="massage" placeholder="write a Massage"></textarea>
      
    </form>
</body>
</html>









